@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body,
html {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
* {
	box-sizing: border-box;
}

.bg-darkish {
	background-color: rgba(0, 0, 0, 0.5);
}

.end {
	justify-self: end;
}

.modal {
	margin-top: 2rem;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-height: 80vmin;
	overflow-y: auto;
}

::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(107, 66, 66);
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(85, 56, 56);
}

/* quick fix might change later */
.chat-box {
	height: 550px;
}

.screen {
	height: 100vh;
}
.dashboard-height {
	height: 100vmin;
}
.background {
	background-image: url('https://wallpapercave.com/wp/wp5513644.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

.card {
	background: rgba(255, 255, 255, 0.15);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(0.5px);
	-webkit-backdrop-filter: blur(0.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

.card-modal {
	background: rgba(255, 255, 255, 0.35);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(11.5px);
	-webkit-backdrop-filter: blur(11.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

#path-1 {
	stroke-dasharray: 236;
	stroke-dashoffset: 235;
	animation: line-anim 2s ease forwards infinite;
}

#path-2 {
	stroke-dasharray: 142;
	stroke-dashoffset: 141;
	animation: line-anim 2s ease forwards infinite;
}

#path-3 {
	stroke-dasharray: 234;
	stroke-dashoffset: 233;
	animation: line-anim 2s ease forwards infinite;
}

#path-4 {
	stroke-dasharray: 243;
	stroke-dashoffset: 242;
	animation: line-anim 2s ease forwards infinite;
}

#path-5 {
	stroke-dasharray: 245;
	stroke-dashoffset: 244;
	animation: line-anim 2s ease forwards infinite;
}

#path-6 {
	stroke-dasharray: 222;
	stroke-dashoffset: 221;
	animation: line-anim 2s ease forwards infinite;
}

#path-7 {
	stroke-dasharray: 263;
	stroke-dashoffset: 262;
	animation: line-anim 2s ease forwards infinite;
}

@keyframes line-anim {
	to {
		stroke-dashoffset: 0;
	}
}

.min-height {
	min-height: 50px;
}

.word-break {
	word-break: break-word;
}

.sidebar-container-div {
	max-height: 600px;
	overflow: hidden;
}

@layer components {
	.nav-button {
		@apply py-2 px-4 text-white cursor-pointer hover:bg-slate-500;
	}

	.btn {
		@apply py-2 px-4 text-white font-bold cursor-pointer rounded-md transition-all;
	}

	.btn-primary {
		@apply text-hyperlink-blue hover:bg-hyperlink-blue hover:text-white;
	}

	.btn-logout {
		@apply bg-dnd-red hover:bg-red-400;
	}

	.btn-danger {
		@apply text-dnd-red hover:bg-dnd-red hover:text-white;
	}

	.modal-bg {
		@apply fixed h-full top-0 w-full flex items-center justify-center text-white font-bold;
	}

	.chat-bubble {
		@apply p-4 hover:bg-dark-grey;
	}

	.login-card {
		@apply p-4 h-auto w-5/6 sm:w-1/2 lg:w-1/5;
	}
	.cover {
		@apply flex justify-center items-center;
	}

	.input {
		@apply w-full p-2 border-2 text-white font-semibold bg-nitro-grey focus:outline-bravery-purple focus:outline-2;
	}

	.sidebar-container {
		@apply h-full text-white flex flex-col font-semibold justify-between;
	}

	.label {
		@apply block font-bold text-white;
	}

	.error {
		@apply text-dnd-red font-bold;
	}

	.nav-link {
		@apply text-center text-gray-200 px-3 py-3 hover:w-full hover:text-white hover:border transition duration-150 ease-in-out;
	}

	.active {
		@apply text-white border text-center;
	}

	.title {
		@apply text-lg font-bold text-white;
	}
	.dropdown-list {
		@apply flex flex-col items-center w-full overflow-y-auto overflow-x-hidden;
	}

	.modal-size {
		@apply h-1/2 w-3/4 lg:w-2/6;
	}
}
@layer base {
	h1 {
		@apply text-2xl font-bold;
	}
	h2 {
		@apply text-xl font-semibold;
	}
	a {
		@apply font-thin text-not-so-blurple hover:underline;
	}

	blockquote {
		@apply p-4 italic border-l-4 bg-neutral-100 text-neutral-600 border-neutral-500;
	}

	ul {
		@apply list-disc ml-2;
	}

	ol {
		@apply list-decimal ml-2;
	}
}
